<!-- Pagina Gestor -->
<section class="container">
    <!-- Fondo -->
    <img src="/assets/fondo-login/login-formulario-gestor.jpg" alt="Fondo" class="background-image">

    <!-- Capa del fondo -->
    <div class="overlay"></div>

    <!-- Titulo -->
    <div class="text-center py-4">
        <h1 class="titulo">MIS SERVICIOS</h1>
    </div>

    <!-- Servicios -->
    <div class="row">
        <!-- Filtros -->
        <div class="col-12 col-lg-3">
            <div class="accordion accordion-flush" id="idAcordionServicio">
                <!-- Todos los Servicios -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Todos mis servicios
                        </button>
                    </h2>

                    <div id="flush-collapseOne" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <button class="btn btn-info mt-2 mb-2 w-100" (click)="cargarServicios()">Ver
                                servicios</button>
                        </div>
                    </div>
                </div>

                <!-- Servicios por Categoria -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Servicios por categoria
                        </button>
                    </h2>

                    <div id="flush-collapseTwo" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <select class="form-select mt-1 mb-1 mx-1" aria-label="Default select example" id="cat"
                                name="cat" [(ngModel)]="cat" (ngModelChange)="filtrarCategoria()">
                                <option disabled selected value="">-</option>
                                <option value="hotel">Hotel</option>
                                <option value="restaurante">Restaurante</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Servicios por Nombre -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                            Servicios por nombre
                        </button>
                    </h2>

                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <input class="form-control" type="text" name="nombreServicio" id="nombreServicio"
                                [(ngModel)]="nombreServicio" />

                            <button class="btn btn-info mt-2 mb-2 w-100"
                                (click)="filtrarPorNombreServicio()">Filtrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tablas -->
        <div class="col-12 col-lg-9 mt-4 mt-lg-0">
            <!-- Tabla Servicios -->
            <div class="table-responsive">
                <table class="table table-striped table-hover text-center">
                    <thead class="table-warning">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Calificacion</th>
                            <th scope="col">Reservas</th>
                            <th scope="col">Resenias</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let ser of servicios">
                            <td>{{ser.nombre}}</td>
                            <td>{{ser.categoria}}</td>
                            <td>{{ser.calificacionTotal}}</td>
                            <td> <a class="link" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                    (click)="idReserva=ser._id">Ver Reservas</a> </td>
                            <!--(click)="cargarReservas(ser._id)"-->
                            <td> <a class="link" (click)="cargarResenias(ser._id)">Ver Resenias</a> </td>
                            <td>
                                <div class="mb-2">
                                    <button class="btn btn-success tamanio" (click)="imprimirServicio(ser)"><i class="bi bi-printer"></i></button>
                                </div>

                                <div class="mt-2">
                                    <button class="btn btn-info text-white tamanio"
                                        (click)="actualizarServicio(ser._id)"><i
                                            class="bi bi-pencil-square"></i></button>
                                </div>

                                <div class="mt-2">
                                    <button class="btn btn-danger tamanio" (click)="eliminarServicio(ser._id)"><i
                                            class="bi bi-trash-fill"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Modal seleccion usuario -->
            <div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="modalSeleccionUsuario"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- Header modal -->
                        <div class="modal-header bg-orange">
                            <h5 class="modal-title" id="modalSeleccionUsuario">Seleccionar</h5>

                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <!-- Body modal -->
                        <div class="modal-body">
                            <div class="row">
                                <div class="col px-2">
                                    <a aria-current="usuarioForm" class="link" data-bs-dismiss="modal"
                                        (click)="cargarReservas(idReserva,true)">
                                        Reservas Aceptadas
                                    </a>
                                </div>

                                <div class="col px-2">
                                    <a aria-current="gestorForm" class="link" data-bs-dismiss="modal"
                                        (click)="cargarReservas(idReserva,false)">
                                        Reservas Pendientes
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- Footer modal -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tabla Resenias -->
            <div class="table-responsive mt-2" *ngIf="verResenia">
                <h4 class="table-title" *ngIf="resenias.length!=0">RESENIAS</h4>
                <h4 class="table-title" *ngIf="resenias.length==0">NO CONTIENE RESENIAS</h4>
                <table class="table table-striped table-hover text-center">
                    <thead class="table-warning">
                        <tr>
                            <th scope="col">Comentario</th>
                            <th scope="col">Valoracion</th>
                            <th scope="col">Fecha de Alta</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let resenia of resenias">
                            <td>{{resenia.comentario}}</td>
                            <td>{{resenia.valoracion}}</td>
                            <td>{{resenia.fechaAlta}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Tabla Reservas-->
            <div class="table-responsive mt-2" *ngIf="verReserva">
                <h4 class="table-title" *ngIf="reservas.length!=0" >RESERVAS</h4>
                <h4 class="table-title" *ngIf="reservas.length==0" >NO TIENE RESERVAS</h4>

                <table class="table table-striped table-hover text-center">
                    <thead class="table-warning">
                        <tr>
                            <th scope="col">Nombre del Servicio</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">fecha de Ingreso</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let reserva of reservas; let i = index">

                            <td>{{reserva.nombreServicio}}</td>
                            <td>{{reserva.categoria}}</td>
                            <td>{{reserva.cantidad}}</td>
                            <td>{{reserva.fechaIngreso}}</td>
                            <td>{{reserva.precio | currency}}</td>
                            <td>
                                <p *ngIf="reserva.reservado==true" class="aceptado" >Aceptado</p>
                                <p *ngIf="reserva.reservado==false" class="pendiente" >Pendiente</p>
                            </td>
                            <!--<td>{{usuarios[i].nombre}}</td>
                            <td>{{usuarios[i].apellido}}</td>
                            <td>{{usuarios[i].dni}}</td>
                            <td>{{reserva.fechaAlta}}</td>-->
                            <td>
                                <div class="mb-2">
                                    <button class="btn btn-success tamanio" (click)="imprimirReserva(reserva)"><i class="bi bi-printer"></i></button>

                                </div>

                                <div class="mt-2" *ngIf="reserva.reservado==false" >
                                    <button class="btn btn-info text-white tamanio"

                                        (click)="aceptarReserva(reserva._id,usuarios[i].email)"><i class="bi bi-check-circle"></i></button>
                                </div>

                                <div class="mt-2">
                                    <button class="btn btn-danger tamanio"
                                        (click)="cancelarReserva(reserva._id,usuarios[i].email)"><i class="bi bi-x-circle-fill"></i></button>

                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>