/**
    DIMENCIONES FORMULARIO
*/
@media only screen and (min-width: 576px) {
  .formulario-gestor {
      width: 500px;

      margin: 0 auto;
  }
}

/**
  FORMULARIO
*/
.formulario-gestor {
  padding: 0;
}

.opacidad {
  background-color: white;
  animation: fadeInDown 1s;
}

.bg-orange {
  background-color: #FFA500;
}

/**
  FONDO FORMULARIO
*/
.background-container {
  position: relative;
  overflow: hidden;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/**
  CAPA DE FONDO
*/
.overlay {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

/**
  BOTONES LOGIN  
*/
.corner-button {
  text-align: end;
  margin: 20px 0 20px 0;
  z-index: 1;
}

@media only screen and (min-width: 576px) {
  .corner-button {
      text-align: end;
      top: 0;
      right: 0;
      margin: 20px;
      z-index: 1;
  }
}

/**
  PASSWORD
*/
.password-input-container {
  position: relative;
}

input#idPassword {
  padding-right: 60px;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-toggle.has-validation {
  margin-right: 30px;
}

.password-toggle i {
  color: #333;
}

/**
  TEXTO INFORMATIVO
*/
.texto-informativo {
  color: white;
  font-size: 12px;
  margin-top: 40px;
}

.texto-informativo span {
  color: #FFA500;
}

/**
  ANIMACION FORMULARIO
*/
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/**
  LOGO
*/
.logo-login {
  width: 200px;
}