<!-- Datos Usuario -->
<section class="container">
    <!-- Fondo -->
    <img src="/assets/fondo-login/login-formulario-gestor.jpg" alt="Fondo" class="background-image">
 <!-- Capa del fondo -->
 <div class="overlay"></div>
    <!-- Titulo -->
    <div class="text-center py-4">
        <h1 class="titulo-principal">MIS DATOS</h1>
    </div>

    <!-- Datos -->
    <div class="text-center background-datos">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="titulo">
                    Username
                </div>

                <div class="mb-4 bg-white py-1">
                    {{usuario.username}}
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="titulo">
                    Nombre
                </div>

                <div class="mb-4 bg-white py-1">
                    {{usuario.nombre}}
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="titulo">
                    Apellido
                </div>

                <div class="mb-4 bg-white py-1">
                    {{usuario.apellido}}
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="titulo">
                    DNI
                </div>

                <div class="mb-4 bg-white py-1">
                    {{usuario.dni}}
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="titulo">
                    Edad
                </div>

                <div class="mb-4 bg-white py-1">
                    {{usuario.edad}}
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="titulo">
                    Email
                </div>

                <div class="mb-4 bg-white py-1">
                    {{usuario.email}}
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="titulo">
                    Fecha de nacimiento
                </div>

                <div class="mb-4 bg-white py-1">
                    {{usuario.fechaNacimiento}}
                </div>
            </div>

            <div>
                <button type="button" class="btn btn-info text-white" routerLink="/usuario-form/1">
                    <i class="bi bi-pencil-square"></i> Modificar
                </button>
            </div>
        </div>
    </div>
</section>