@import url('https://fonts.googleapis.com/css2?family=Overpass&family=Righteous&family=Sarabun:wght@500&family=Ysabeau+SC&display=swap');

/**
  FUENTE
*/
* {
  font-family: 'Asap Condensed', sans-serif;
}

/**
  BODY
*/
body {
  padding: 0;
  margin: 0;
}

/**
  CSS PARA EL FOOTER
*/
.wrapper {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 80.4vh;
}

.content {
  display: flex;
  flex-direction: column;
}