<!-- Datos Usuario -->
<section class="container background-container">
    <!-- Imagen de fondo -->
    <img src="/assets/fondo-login/login-formulario-gestor.jpg" alt="Fondo" class="background-image">

    <!-- Capa del fondo -->
    <div class="overlay"></div>

    <!-- Titulo -->
    <div class="text-center py-4">
        <h1 class="titulo-principal">MIS DATOS</h1>
    </div>

    <!-- Datos -->
    <div class="text-center background-datos">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="titulo">
                    Username
                </div>

                <div class="mb-4 bg-white py-1">
                    {{administrador.username}}
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="titulo">
                    Nombre
                </div>

                <div class="mb-4 bg-white py-1">
                    {{administrador.nombre}}
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="titulo">
                    Apellido
                </div>

                <div class="mb-4 bg-white py-1">
                    {{administrador.apellido}}
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="titulo">
                    DNI
                </div>

                <div class="mb-4 bg-white py-1">
                    {{administrador.dni}}
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="titulo">
                    Edad
                </div>

                <div class="mb-4 bg-white py-1">
                    {{administrador.edad}}
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="titulo">
                    Email
                </div>

                <div class="mb-4 bg-white py-1">
                    {{administrador.email}}
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="titulo">
                    Fecha de nacimiento
                </div>

                <div class="mb-4 bg-white py-1">
                    {{administrador.fechaNacimiento}}
                </div>
            </div>
        </div>
    </div>
</section>