body {
    background-image: url("/assets/fondo-servicio/arg.jpg");
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    margin-top: -24px;
}
h6{
    text-align: right;
    color: rgb(0, 0, 0);
    font-family: cursive;
 }
 p{
    font-family: cursive;
 }
.card {
    background: linear-gradient(to right, #0084ffb5, #00407ce0);
    border: 1px solid #1e8bbd;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 2rem; 
}
img{
    width: 80%;
    height: 80%;
}

