<!-- PIE DE PAGINA -->
<section>
        <!-- Footer -->
        <footer class="text-white footer-top">
                <div class="container">
                        <div class="row">
                                <h5 class="text-center my-4">CONTACTENOS</h5>

                                <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
                                        <ul class="list-unstyled mb-0 text-center">
                                                <li class="pb-4">
                                                        <a href="https://github.com/rochadgps"
                                                                class="text-white text-decoration-none">
                                                                Cristian Rocha <i class="bi bi-github"></i>
                                                        </a>
                                                </li>
                                                <li>
                                                        <a href="https://github.com/userJoA"
                                                                class="text-white text-decoration-none">
                                                                Alejandro Gallardo <i class="bi bi-github"></i>
                                                        </a>
                                                </li>
                                        </ul>
                                </div>

                                <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
                                        <ul class="list-unstyled mb-0 text-center">
                                                <li class="pb-4">
                                                        <a href="https://github.com/kevinpaco"
                                                                class="text-white text-decoration-none">
                                                                Kevin Paco <i class="bi bi-github"></i>
                                                        </a>
                                                </li>

                                                <li>
                                                        <a href="https://github.com/NatanielCZN"
                                                                class="text-white text-decoration-none">
                                                                Nataniel Cazon <i class="bi bi-github"></i>
                                                        </a>
                                                </li>
                                        </ul>
                                </div>

                                <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
                                        <ul class="list-unstyled text-center">
                                                <li class="pb-4">
                                                        <a href="https://github.com/Facuxfs"
                                                                class="text-white text-decoration-none">
                                                                Facundo Romero <i class="bi bi-github"></i>
                                                        </a>
                                                </li>

                                                <li>
                                                        <a href="https://github.com/Taskmaster01"
                                                                class="text-white text-decoration-none">
                                                                Alvaro Gaspar <i class="bi bi-github"></i>
                                                        </a>
                                                </li>
                                        </ul>
                                </div>
                        </div>
                </div>

                <div class="text-center p-3">
                        ©TurismoApplicacion - 2023 |<a class="text-white text-decoration-none p-2"
                                href="https://github.com/rochadgps/PySW-Trabajo-Final-Grupo10.git"><strong>CodeGithub</strong></a>
                </div>
        </footer>
</section>